.footer {
  background-color: $bgcolor;
  text-align: center;
  width: 100%;
  padding-bottom: 8px;
  position: relative;
  z-index: 3;
  &--item {
    display: block;
    line-height: 2em;
    @include breakpoint(tablet) {
      display: inline-block;
      &:after {
        content: '|';
        padding: 0 24px;
      }
      &:last-of-type {
        &:after {
          display: none;
        }
      }
    }
  }
}