@import '../components/logo-animation';

#header {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
  background-color: #FFF;
}

.main-menu-container {
  .is-mobile & {
    height: 100%;
    position: absolute;
    padding: 0;
    left: 0;
  }
}

ul.main-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  @at-root .nav-hidden & {
    display: none !important;
  }
  .is-mobile & {
    display: flex;
    flex-direction: column;
    opacity: 0;
    overflow: hidden;
    transition: all $smallHeaderTransition, opacity 0.2s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(#fff, 0.9);
    width: 100%;
    height: calc(100% - #{$headerHeight-m});
    margin-top: $headerHeight-m;
    pointer-events: none;
    @at-root .small-header#{&} {
      margin-top: $headerHeight-m-small;
      height: calc(100% - #{$headerHeight-m-small});
    }
    @at-root .nav-open#{&} {
      display: flex;
      opacity: 1;
      pointer-events: auto;
    }
  }
  li {
    display: block;
    flex: 1;
    margin: 0;
    padding: 0;
    position: relative;
    font-weight: 400;
    transition: all 200ms;
    &:hover, &.active {
      background-color: $primary;
      a {
        color: #FFF;
        text-decoration: none;
      }
    }
    &.active:hover {
      background-color: darken($primary, 5%);
    }
  }
  a {
    margin: 0;
    color: inherit;
    text-align: center;
    transition: padding $smallHeaderTransition, font-size $smallHeaderTransition;
    font-size: 15px;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    display: flex;
    .is-mobile & {
      font-size: 18px;
    }
    @include breakpoint(desktop) {
      padding: 35px 8px;
    }
    @include breakpoint(desktop-l) {
      font-size: 18px;
      padding: 35px 10px;
    }
    .small-header & {
      font-size: 16px;
      @include breakpoint(desktop) {
        padding: 25px 10px;
      }
    }
  }
}

.logo-container {
  position: relative;
  padding-top: 6.25px;
  padding-bottom: 6.25px;
  display: flex;
  transition: left $smallHeaderTransition, height $smallHeaderTransition;
  height: $headerHeight-m;
  .small-header & {
    left: 0;
    height: $headerHeight-m-small;
    @include breakpoint(desktop) {
      padding-top: 7.5px;
      padding-bottom: 7.5px;
    }
  }
  @include breakpoint(desktop) {
    left: -16px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
  }
  @include breakpoint(desktop-l) {
    left: -8px;
  }
}

.slogan-logo {
  display: none;
  vertical-align: middle;
  padding: 0 8px 0 96px;
  font-size: 17px;
  transition: font-size $smallHeaderTransition, top $smallHeaderTransition, padding $smallHeaderTransition;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  flex: 1;
  font-style: italic;
  &.slogan-on {
    display: inline-block;
  }
  .small-header & {
    font-size: 15px;
    padding: 0 8px 0 72px;
  }
  @include breakpoint(desktop) {
    padding: 0 0 0 88px;
    font-size: 16px;
  }
  @include breakpoint(desktop-l) {
    font-size: 18px;
  }
}

#nav-trigger-container {
  height: $headerHeight-m;
  transition: height $smallHeaderTransition;
  .small-header & {
    height: $headerHeight-m-small;
  }
}

#nav-trigger {
  width: 36px;
  height: 27px;
  position: absolute;
  cursor: pointer;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
  $span-size: 5px;
  span {
    display: block;
    position: absolute;
    width: 100%;
    height: $span-size;
    background-color: $primary;
    border-radius: $span-size;
    opacity: 1;
    top: 0;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
  }
  span:nth-child(2), span:nth-child(3) {
    top: $span-size * 2;
  }
  span:nth-child(4) {
    top: $span-size * 4;
  }
  .nav-open & {
    span:nth-child(1), span:nth-child(4) {
      top: $span-size * 2;
      width: 0;
      left: 50%;
    }
    span:nth-child(2) {
      transform: rotate(45deg);
    }
    span:nth-child(3) {
      transform: rotate(-45deg);
    }
  }
}
