.circle {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  width: 75px;
  height: 75px;
  background-image: url('/img/logo-def-pepcoach-nowhite.png');
  background-size: 100%;
  transition: width $smallHeaderTransition, height $smallHeaderTransition;
  .small-header & {
    width: 60px;
    height: 60px;
  }
}

.arc {
  &__q {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 71px;
    height: 71px;
    border-radius: 50%;
    border: 1px solid;
    border-color: transparent #fff transparent transparent;
    transform: rotate(-45deg);
    transition: width $smallHeaderTransition, height $smallHeaderTransition;
    .small-header & {
      width: 56px;
      height: 56px;
    }
  }
  &__cover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    border-top-left-radius: 100%;
    border: 5px solid $primary;
    border-right: transparent;
    border-bottom: transparent;
    .init & {
      display: block;
    }
  }
}
