.reviews {
  $pb: 55px;
  $bsdef: 0 1px 3px rgba(#000, 0.12), 0 1px 2px rgba(#000, 0.24);
  $bshov: 0 3px 6px rgba(#000, 0.16), 0 3px 6px rgba(#000, 0.23);
  position: relative;
  .reviews-container {
    position: relative;
  }
  &__nav {
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    height: 50px;
    pointer-events: none;
    margin-top: -$pb / 2;
    button {
      background-color: rgba($primary, 0.7);
      padding: 22px;
      border-radius: 50%;
      position: absolute;
      border: none;
      top: 50%;
      transition: background-color 0.2s ease-in, box-shadow 0.2s ease-in;
      pointer-events: auto;
      outline: none;
      box-shadow: $bsdef;
      &:hover, &:focus {
        box-shadow: $bshov;
      }
      &:active {
        box-shadow: $bsdef;
        transition: box-shadow 0.1s ease-in;
      }
      &:hover {
        background-color: rgba($primary, 1);
      }
      &:focus {
        background-color: darken($primary, 5%);
      }
      svg {
        width: 18px;
        height: 18px;
        position: absolute;
        margin: auto;
        top: -2px;
        right: 0;
        bottom: 0;
        left: 0;
        fill: #fff;
      }
    }
    &--prev {
      transform: translateY(-50%) rotate(-90deg);
    }
    &--next {
      transform: translateY(-50%) rotate(90deg);
      right: 0;
    }
  }
  .slick-list {
    padding-bottom: $pb !important;
  }
  .slick-track {
    li {
      position: relative;
      margin: 0 8px;
      outline: none;
      @include breakpoint(tablet) {
        margin: 0 48px;
      }
    }
  }
  blockquote {
    border-left-color: $primary;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  cite {
    display: block;
    font-size: 16px;
    color: $primary;
    position: absolute;
    right: 16px;
    bottom: -16px;
  }
  .slick-dots {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -8px;
    width: 100%;
    display: flex;
    justify-content: center;
    @include breakpoint(tablet) {
      bottom: -20px;
    }
    li {
      max-width: 32px;
      height: 32px;
      display: inline-block;
      background-color: rgba($primary, 0);
      color: $text;
      border-radius: 50%;
      transition: background-color 0.2s ease-in, color 0.2s ease-in, box-shadow 0.2s ease-in;
      text-align: center;
      box-shadow: none;
      outline: none;
      margin: 0 3px;
      flex: 1;
      &:hover, &:focus {
        box-shadow: $bshov;
      }
      &:active {
        box-shadow: $bsdef;
        transition: box-shadow 0.1s ease-in;
      }
      &.slick-active {
        background-color: $primary;
        color: #fff;
        box-shadow: $bsdef;
      }
      button {
        outline: none;
        position: relative;
        top: calc(50% + 1px);
        transform: translateY(-50%) translateX(0%);
      }
    }
  }
}